/**
 * Global variables for colors
 */

:root {
	--nfc-color--primary: #F96666;
	--nfc-color--border: #eee;

	--nfc-color--dark: #000;
	--nfc-color--light: #fff;

	--nfc-color--red: #ED7782;
	--nfc-color--error: #F96666;
	--nfc-color--error-dark: #e45454;
	--nfc-color--filled: #e7f8df;
	--nfc-color--green: #59CE8F;
	--nfc-color--grey: #9b9b9b;
	--nfc-color--light-grey: #f5f5f5;
	--nfc-color--lighter-grey: #fafafa;
	--nfc-color--dark-grey: #333;
	--nfc-color--wp: #1d2327;
}
